.header {
  background-color: #007bff;
  color: #fff;
  padding: 6px;
  display: flex;
  align-items: center;
  height: 5%;

  @media (prefers-color-scheme: dark) {
    background-color: #1364bb;
  }

  img {
    width: 30px;
    margin: 0 10px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 12px;
  }
}
