.input-button {
  &-container {
    margin-top: 20px;
    width: 100%;
    display: flex;

    .message-input {
      flex: 1;
      width: 80%;
      padding: 10px;
      border: 0px solid;
      border-radius: 5px;
      font-size: 14px;
      margin-bottom: 10px;
      opacity: 1;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:focus {
        outline: none;
      }
    }

    .send-button,
    .find-button {
      width: 90%;
      padding: 10px 20px;
      height: 42%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      opacity: 1;
      font-size: 14px;
      margin-left: 10px;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .send-button {
      background-color: #007bff;
      margin-bottom: 2px;
      color: #fff;
    }

    .find-button {
      background-color: #28a745;
      color: #fff;
    }
  }

  @media (prefers-color-scheme: dark) {
    &-container {
      .message-input {
        background-color: #433e47;
        color: #e5e5e6;
      }

      .send-button {
        background-color: #1364bb;
      }

      .find-button {
        background-color: #0c9b2d;
      }
    }
  }

  @media (max-width: 768px) {
      &-actions {
        display: block;
        // justify-content: center;
      }

      &-container {
        // display: block;

        .send-button,
        .find-button {
          // margin-left: unset;
          // margin-bottom: unset;
          // width: 50%;
          // height: auto;

        }

        .send-button {
          // margin-right: 10px;
        }

        .message-input {
          height: auto;
          width: 96.6%;
        }
      }
    }
  }

